/*
* styling for PDF Application Form Component
*/

.components{
	text-align: center;
}

.components .button a::hover{
	color: white !important;
	background-color: navy;
}

.components:last-child:hover{
	color: red !important;
}

.success-wrap{
	display: inline-block;
}

#pdfappform dl{
  width: 510px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #dcdcdc;
}

h5{
	text-align: center;
	display: block;
	background-color: red;
	font-size: 18px;
}

h3{
	display: inline-block;
	text-align: center;
}

.alert-error{
	color: red;
	font-weight: bold;
	padding: 10px 25px;
}
